drupal:
  core: "7"
  base-url: "http://127.0.0.1:8888"
  database:
    host: "mysql"
    port: "3306"
    name: "atomium"
    user: "root"
    password: ""
  settings:
    conf:
      theme_default: "atomium"
  post_install:
      - "./vendor/bin/drush --root=$(pwd)/build en -y atomium devel realistic_dummy_content composer_autoloader"
      - "./vendor/bin/drush --root=$(pwd)/build dis -y overlay update help comment rdf search"

atomium:
  repository: "https://github.com/ec-europa/atomium.git"
  reference:
    root: "tests/reference"
    tag: "7.x-2.3"